<h1>Password reset</h1>

<p>To reset your password click the link below:</p>

<% if @authenticable.is_a? User %>
  <%= link_to "Reset password", edit_api_reset_passwords_url(token: @token) %>
<% else %>
  <%= link_to "Reset password", edit_api_admin_reset_passwords_url(token: @token) %>
<% end %>

<p>This link will expire in six hours.</p>

<p>
  If you did not request your password to be reset, please ignore this email and
  your password will stay as it is.
</p>
